*,
* > * {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

#main-container,
.appt-dialog {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.hidden {
  display: none; }

.no-side-pad {
  padding-left: 0;
  padding-right: 0; }

.row-space {
  display: block;
  clear: both;
  width: 100%;
  height: 1em; }

*[data-role='dropdown-container'] {
  display: none; }

.appt-dropdown-item {
  width: 100%;
  text-align: left; }

.appt-dialog .appt-dialog-header {
  border-bottom: 1px solid #eee; }
  .appt-dialog .appt-dialog-header h3 {
    display: inline-block;
    margin: 15px 0 15px 1.1em; }
  .appt-dialog .appt-dialog-header .glyphicon-remove {
    cursor: pointer;
    color: #ccc;
    font-size: 1.2em;
    display: block;
    float: right;
    margin: 1.1em 1.1em 0 0; }
    .appt-dialog .appt-dialog-header .glyphicon-remove:hover {
      color: #aaa; }
.appt-dialog .appt-dialog-content {
  padding: 1.1em;
  overflow: auto; }
  .appt-dialog .appt-dialog-content label,
  .appt-dialog .appt-dialog-content label > * {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .appt-dialog .appt-dialog-content label {
    cursor: pointer;
    color: #31708f;
    margin: .4em 0; }
    .appt-dialog .appt-dialog-content label i {
      padding: 0 .3em 0 .1em;
      color: #eea236; }
    .appt-dialog .appt-dialog-content label:hover {
      color: #eea236; }
      .appt-dialog .appt-dialog-content label:hover i {
        padding: 0 .1em 0 .3em; }

.appt-dialog {
  width: 90%;
  margin: 0 0 0 -45%; }

.appt-dialog-underlay {
  background-color: #428bca;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0; }

.appt-dialog {
  background: white;
  position: fixed;
  top: 200%;
  left: 50%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.dialogIsOpen #main-container {
  opacity: 0.3;
  -webkit-filter: blur(3px) grayscale(40%);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }
.dialogIsOpen .appt-dialog-underlay {
  opacity: 0.5;
  height: 100%;
  width: 100%; }
.dialogIsOpen .appt-dialog {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  top: 20%; }

/* styles specific to datepicker */
.ui-datepicker {
  width: 100%;
  height: auto;
  margin: 5px auto 0;
  font: .9em Arial, sans-serif; }
  .ui-datepicker a {
    text-decoration: none; }
  .ui-datepicker table {
    width: 100%;
    table-layout: fixed; }

/* datepicker header */
.ui-datepicker-header {
  background-color: #000066;
  color: #ffffff;
  font-weight: bold;
  line-height: 2em;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3); }
  .ui-datepicker-header .ui-datepicker-title {
    text-align: center;
    margin: auto;
    width: 30%; }

.ui-corner-all {
  color: #ffffff; }
  .ui-corner-all:hover {
    color: #ffffff; }

*[title="Prev"],
*[data-handler='next'] {
  display: inline-block;
  width: 60px;
  text-align: center;
  cursor: pointer; }

*[title="Prev"] {
  float: left; }

*[data-handler='next'] {
  float: right; }

.ui-datepicker thead {
  background-color: #ffcc00;
  color: #000066; }
  .ui-datepicker thead th {
    padding-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px; }
.ui-datepicker td {
  height: 40px;
  border: 2px solid #ffffff;
  color: #505050;
  vertical-align: top;
  padding: 3px; }
  .ui-datepicker td a {
    color: #000066; }
  .ui-datepicker td.ui-state-disabled {
    background-color: #f5f5f5;
    color: #808080; }
    .ui-datepicker td.ui-state-disabled:hover {
      box-shadow: none; }

/*# sourceMappingURL=filters.css.map */
